.BuildCard {
  width: calc(50vw - 15px);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;
  margin: 10px 10px 0 0;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: relative;
}

.BuildCard .img-container {
  height: 200px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}

.BuildCard .text-container {
  margin-top: 10px;
}

.BuildCard #edit-build {
  background-color: #1f67a2;
  color: white;
}

.BuildCard #view {
  background-color: #ec832f;
}

.BuildCard .build-card-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.BuildCard form {
  margin-top: 10px;
}

.BuildCard form > div {
  display: flex;
  align-items: center;
}

.BuildCard #kit-color-container {
  margin-top: 5px;
}

.BuildCard form input,
.BuildCard form select {
  width: 100%;
  margin-left: 2px;
}

.BuildCard #delete-build {
  background-color: #e84c3b;
}

.BuildCard #save-build {
  background-color: #f0c513;
}

@media only screen and (min-width: 768px) {
  .BuildCard #img-container {
    height: 250px;
  }
}
