.Builds {
  min-height: calc(100vh - 120px);
}

.Builds > section {
  position: sticky;
  top: 120px;
  z-index: 1;
}

.Builds #fail {
  color: red;
}

.Builds .heading-container button {
  background-color: #a4cd3a;
}

.Builds #links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 50px;
  position: sticky;
  top: 120px;
  background-color: white;
  z-index: 1;
  border-bottom: 1px solid black;
}

#links .btn-container {
  display: flex;
}

#back {
  background-color: #ec832f;
  color: black;
}

#edit {
  background-color: #1f67a2;
  color: white;
}

#more {
  background-color: #a4cd3a;
  margin-right: 5px;
}

#cancel {
  background-color: #e84c3b;
  color: white;
}

#save {
  background-color: #1f67a2;
  color: white;
  margin-left: 5px;
}

.Builds .heading-container div {
  display: flex;
  align-items: center;
}

.Builds #card-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 10px;
}

.Builds .gallery {
  padding: 10px 0 10px 10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
