.BuildForm {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BuildForm form {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}

.BuildForm form label {
  color: #143e61;
}

.BuildForm form input,
.BuildForm form select {
  padding: 5px;
  margin-bottom: 10px;
}

.BuildForm span {
  text-align: center;
}

.BuildForm form button {
  width: initial;
}

.BuildForm #single-pic {
  margin: 0;
  padding: 0;
}

.BuildForm #submit {
  margin-top: 10px;
  background-color: #a4cd3a;
}
