.ImageCard {
  width: calc(50vw - 15px);
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 10px 10px 0 0;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: relative;
}

.ImageCard p {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 10px;
  padding: 5px;
  background-color: white;
}

.ImageCard button {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  padding: 5px;
  border: none;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 9px;
  border-top-left-radius: 0;
  font-size: 16px;
  color: black;
  background-color: #fde5e2;
  width: initial;
}

.ImageCard button:hover {
  color: red;
}

@media only screen and (min-width: 480px) {
  .ImageCard {
    width: calc(25vw - 12.5px);
  }
}

@media only screen and (min-width: 1024px) {
  .ImageCard {
    width: calc(16.66vw - 11.67px);
  }
}
